@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "normalize";

$gray: rgba(190, 190, 190, 0.466);
$black: rgba(0, 0, 0, 0.6);

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto";
  color: rgb(78, 78, 78);
}

.heading {
  font-weight: 100;
  text-align: center;
}

.header__heading {
  text-align: center;
}

//gradient = = = = = = = = = =

.gradient {
  &__liner-boxes {
    display: flex;
  }

  &__liner-box {
    width: 400px;
    height: 200px;
    &-1 {
      background: linear-gradient(45deg, $gray, $black);
    }
    &-2 {
      background: linear-gradient(to top, $gray 30%, $black 90%);
    }
    &-3 {
      background: linear-gradient(to right, $gray 20%, $black 20%);
    }
  }
}

.gradient {
  &__radial-boxes {
    display: flex;
  }

  &__radial-box {
    width: 400px;
    height: 200px;
    &-1 {
      background: radial-gradient(circle, $gray, $black);
    }

    &-2 {
      background: radial-gradient(circle at top, $gray, $black);
    }

    &-3 {
      background: radial-gradient(circle farthest-corner at 100px 50px, $gray, $black);
    }
  }
}

.gradient {
  &__repeat-boxes {
    display: flex;
  }

  &__repeat-box {
    width: 600px;
    height: 200px;
    &-1 {
      background: repeating-linear-gradient(45deg, $gray, $gray 10px, $black 10px, $black 20px);
    }

    &-2 {
      background: repeating-radial-gradient(circle, $gray, $gray 10px, $black 10px, $black 20px);
    }
  }
}

.gradient {
  &__background-img-boxes {
    display: flex;
    justify-content: center;
  }

  &__background-img-box {
    width: 800px;
    height: 400px;
    background: linear-gradient(to bottom left, $gray, $black), url(../img/girl.jpg);
  }
}

//transition = = = = = = = = = =

.basic {
  &__heading {
  }

  &__buttons-box-wrapp {
    display: flex;
    justify-content: center;
  }

  &__button-wrapp {
  }

  &__button {
    display: block;
    text-decoration: none;
    font-size: 30px;
    border-radius: 5px;
    padding: 15px;
    margin-right: 10px;
    border: 1px solid $gray;
    color: $gray;
    &--non-transition:hover {
      color: $black;
      border: 1px solid $black;
    }

    &--transition {
      transition: 0.5s;
      &:hover {
        color: $black;
        border: 1px solid $black;
        transition: 0.5s;
      }
    }
    &--transition-border {
      transition: 0.5s;
      transition-property: border;
      &:hover {
        border: 1px solid $black;
        transition-duration: 0.5s;
      }
    }
    &--transition-delay {
      transition: 0.5s;
      transition-delay: 1s;
      margin-right: 0px;
      &:hover {
        transition-delay: 1s;
        border: 1px solid $black;
        transition-duration: 0.5s;
        color: $black;
      }
    }
  }
}
