@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
    font-family: $font_name;
    font-display: swap;
    src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
    font-weight: #{$weight};
    font-style: #{$style};
  }
}

@import "fonts";
@import "normalize";

$gray: rgba(190, 190, 190, 0.466);
$black: rgba(0, 0, 0, 0.6);

body {
  width: 1200px;
  margin: 0 auto;
  font-family: "Roboto";
  color: rgb(31, 31, 31);
}

.heading {
  font-weight: 100;
  text-align: center;
}

.header__heading {
  text-align: center;
}

//gradient = = = = = = = = = =

.gradient {
  &__liner-boxes {
    display: flex;
  }

  &__liner-box {
    width: 400px;
    height: 200px;
    &-1 {
      background: linear-gradient(45deg, $gray, $black);
    }
    &-2 {
      background: linear-gradient(to top, $gray 30%, $black 90%);
    }
    &-3 {
      background: linear-gradient(to right, $gray 20%, $black 20%);
    }
  }
}

.gradient {
  &__radial-boxes {
    display: flex;
  }

  &__radial-box {
    width: 400px;
    height: 200px;
    &-1 {
      background: radial-gradient(circle, $gray, $black);
    }

    &-2 {
      background: radial-gradient(circle at top, $gray, $black);
    }

    &-3 {
      background: radial-gradient(circle farthest-corner at 100px 50px, $gray, $black);
    }
  }
}

.gradient {
  &__repeat-boxes {
    display: flex;
  }

  &__repeat-box {
    width: 600px;
    height: 200px;
    &-1 {
      background: repeating-linear-gradient(45deg, $gray, $gray 10px, $black 10px, $black 20px);
    }

    &-2 {
      background: repeating-radial-gradient(circle, $gray, $gray 10px, $black 10px, $black 20px);
    }
  }
}

.gradient {
  &__background-img-boxes {
    display: flex;
    justify-content: center;
  }

  &__background-img-box {
    width: 800px;
    height: 400px;
    background: linear-gradient(to bottom left, $gray, $black), url(../img/girl.jpg);
  }
}

//transition = = = = = = = = = =

.button {
  display: block;
  text-decoration: none;
  font-size: 30px;
  border-radius: 5px;
  padding: 15px;
  margin-right: 10px;
  border: 1px solid $gray;
  color: $gray;
}

.basic {
  &__buttons-box-wrapp {
    display: flex;
    justify-content: center;
  }

  &__button {
    &--non-transition:hover {
      color: $black;
      border: 1px solid $black;
    }

    &--transition {
      transition: 0.5s;
      &:hover {
        color: $black;
        border: 1px solid $black;
        transition: 0.5s;
      }
    }
    &--transition-border {
      transition: 0.5s;
      transition-property: border;
      &:hover {
        border: 1px solid $black;
        transition-duration: 0.5s;
      }
    }
    &--transition-delay {
      transition: 0.5s;
      transition-delay: 1s;
      margin-right: 0px;
      &:hover {
        transition-delay: 1s;
        border: 1px solid $black;
        transition-duration: 0.5s;
        color: $black;
      }
    }
  }
}

//animation = = = = = = = = = = =

@keyframes bouncing {
  0% {
    bottom: 0;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  }
  100% {
    bottom: 10px;
    box-shadow: 0 15px 15px rgba(0, 0, 0, 0.1);
  }
}
.quick-example {
  &__button-wrapp {
    display: flex;
    justify-content: center;
  }
  &__button {
    width: 200px;
    text-align: center;
    animation: bouncing 1s cubic-bezier(0.1, 0.25, 0.1, 1) 0s infinite alternate both;
    position: relative;
    margin-top: 15px;
    &:hover {
      color: $black;
      transition-duration: 0.5s;
    }
  }
}

@keyframes around {
  0% {
    left: 0;
    top: 0;
  }
  25% {
    left: 90px;
    top: 0;
  }
  50% {
    left: 90px;
    top: 90px;
  }
  75% {
    left: 0;
    top: 90px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

.liner-animation {
  &__wrapp {
    position: relative;
    width: 100px;
    height: 100px;
    margin: 0 auto;
    border: 1px solid $gray;
  }
  &__element {
    animation: around 4s linear 0s alternate infinite;
    width: 10px;
    height: 10px;
    position: absolute;
    background-color: $gray;
    transition-duration: 0.5s;
  }
}

//transform = = = = = = = = = =

@keyframes translating {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(90px, 0);
  }
  50% {
    transform: translate(90px, 90px);
  }
  75% {
    transform: translate(0, 90px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.transform {
  &__all-box {
    display: flex;
    justify-content: space-around;
  }

  &__translate-box {
    width: 100px;
    height: 100px;
    margin: 0 auto;
    position: relative;
    border: 1px solid $gray;
  }

  &__translate {
    animation: translating 4s linear infinite;
    background-color: $gray;
    width: 10px;
    height: 10px;
    position: absolute;
  }
}

@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.transform {
  &__rotate-box {
    display: flex;
    justify-content: center;
  }
  &__rotate {
    animation: rotating 4s linear 0s infinite;
    background: radial-gradient(circle farthest-corner at 100px 50px, $gray, $black);
    border-radius: 50%;
    height: 120px;
    margin: 0;
    width: 120px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    transition-duration: 1s;
    &:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
      cursor: pointer;
      transition-duration: 1s;
    }
  }
}

@keyframes scaling {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.transform{
  &__scale-box {
    display: flex;
    justify-content: center;
  }

  &__scale {
    display: block;
    width: 200px;
    height: 100px;
    animation: scaling 2s linear 0s infinite;
    transition: all 100ms linear;
    &:hover {
      cursor: pointer;
    }
  }
}

@keyframes zooming {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(0, 0, 50px);
  }
}

.transform {
  &__threeD-box {
    position: relative;
    display: flex;
    justify-content: center;
    perspective: 500px;
  }

  &__threeD-img-one {
    width: 100px;
  }

  &__threeD-img-two {
    width: 100px;
    z-index: 1;
    position: absolute;
    left: 0px;
    animation: zooming 3s alternate infinite both;
    &:hover {
      cursor: pointer;
    }
  }
}

